.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.cardServices {
  width: 132px;
  height: 120px;
  margin: 0 15px 20px 0;
}

.cardServicesBody {
  margin-top: 15px;
  width: 100%;
  height: 100px;
  border-radius: 8px;
  text-align: center;
}

.cardTitle {
  padding: 10px;
  line-height: 20px;
  color: black;
}
